body, html {
    height: 100%;
}

#header{
    height: 100%;
    width: 100%;
    color: #673AB7;
    line-height: 400%;
    text-align: center;
}
.flow-text{
    color:#0B1222;
    text-align: center;
}

#logo{
    display:block;
    margin:auto;
    margin-top: 5px;    
}

.background {
    background: url('/assets/background.jpg') no-repeat center scroll; 
    height: 100%; 
}

.landing-title {
    text-align: center;
    color:#3A96DD;
    font-size: 5em;
}

.title-container {
    margin-top: 10em;
}

.chat-title {
    text-align: center;

}

.btn-large {
    background-color: #3A96DD;
}