<!-- <div class="parent">
  <div class="background"> -->
    <div class="container">
      <div class="title-container">
        <h1 class="landing-title">Nutri.AI</h1>
        <p class="flow-text">
            Nutri.AI is your personal AI assistant that understands your fitness goals and provides personalised meal recommendations to meet your goals.            
        </p>
      </div>
      <br><br>
      <div class="row center">
        <a routerLink="/chat" class="btn-large waves-effect waves-light">Ask Nutri</a>
      </div>
    </div>
  <!-- </div>
</div> -->
